<!--{% extends 'main/base.html' %}-->

<!--{% block title %}-->
<!--Добавление системы-->
<!--{% endblock %}-->

<!--{% block content %}-->
<!--    <h1>Добавление системы</h1>-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ form.title }}<br>-->
<!--        {{ form.discription_system }}<br>-->
<!--        {{ form.law_system }}<br>-->
<!--        {{ form.x_max_matrix }}<br>-->
<!--        {{ form.y_max_matrix }}<br>-->
<!--                <button type="submit" class="=btn btn-success">Добавить</button>-->
<!--                <span>{{ error }}</span>-->
<!--    </form>-->
<!--{% endblock %}-->