{% extends 'main/base.html' %}

{% block title %}
Просмотр систем
{% endblock %}

{% block content %}
    <h1>Просмотр систем Stewart platform </h1>
    {% if system %}
        {% for el in system %}
            <div class="alert alert-warning mt-2">
                <h3>{{ el.title }}</h3>
                <p>{{ el.discription_system }}</p>
                <p>{{ el.law_system }}</p>
                <p>{{ el.x_max_matrix }}</p>
                <p>{{ el.y_max_matrix }}</p>
            </div>
        {% endfor %}
    {% else %}
      <p>У нас нет записей</p>
    {% endif %}
{% endblock %}


