{% extends 'main/base.html' %}

{% block title %}
Просмотр систем
{% endblock %}

{% block content %}
    <h1>Просмотр систем</h1>
   {% if object_list %}
        {% for system_stewart_platform in object_list %}
        <div class="post-entry">
          <h2><a href="{% url 'systemDetailView' system_stewart_platform.pk %}">{{ system_stewart_platform.title }}</a></h2>
           <p>{{ system_stewart_platform.discription_system }}</p>
            <p>{{ system_stewart_platform.law_system }}</p>
            <p>{{ system_stewart_platform.x_max_matrix }}</p>
            <p>{{ system_stewart_platform.y_max_matrix }}</p>
        </div>
        {% endfor %}
    {% else %}
            <p>У нас нет записей</p>
    {% endif %}
{% endblock %}