{% extends 'main/base.html' %}

{% block title %}
Просмотр закона "Колебания"
{% endblock %}

{% block content %}
    <h1>Просмотр закона движения "Колебания"</h1>
   {% if object_list %}
        {% for law_for_platform_vibrations in object_list %}
        <div class="post-entry">
          <h2><a href="{% url 'LawVibrationsDetailView' law_for_platform_vibrations.pk %}">Момент времени в секундах: {{ law_for_platform_vibrations.time }}</a></h2>
                <p>Базовый модуль: {{ law_for_platform_vibrations.stewart_platform }}</p>
                <p>Смещение по x: {{ law_for_platform_vibrations.x_coordinate }}</p>
                <p>Смещение по y: {{ law_for_platform_vibrations.y_coordinate }}</p>
                <p>Смещение по z: {{ law_for_platform_vibrations.z_coordinate }}</p>
                <p>Крен(х): {{ law_for_platform_vibrations.γ_roll_x }}</p>
                <p>Тангаж(y): {{ law_for_platform_vibrations.θ_pitch_y }}</p>
                <p>Рыскание(z): {{ law_for_platform_vibrations.ψ_yaw_z }}</p>
        </div>
        {% endfor %}
    {% else %}
            <p>У нас нет записей</p>
    {% endif %}
{% endblock %}