{% extends 'main/base.html' %}

{% block title %}
Просмотр системы
{% endblock %}

{% block content %}
    <h1>Просмотр системы</h1>
        <div class="post-entry">
            <h2><a href="">Наименование системы:  {{ system_stewart_platform.title }}</a></h2>
            <p>Описание системы: {{ system_stewart_platform.discription_system }}</p>
            <p>Закон движения системы: {{ system_stewart_platform.law_system }}</p>
            <p>Размер матрицы по оси x: {{ system_stewart_platform.x_max_matrix }}</p>
            <p>Размер матрицы по оси y: {{ system_stewart_platform.y_max_matrix }}</p>
         </div>

  <a href='{% url 'systemEditView' system_stewart_platform.pk %}'>Редактирование системы</a>
  <p><a href='{% url 'systemDeleteView' system_stewart_platform.pk %}'>Удаление системы</a></p>
{% endblock %}