{% extends 'main/base.html' %}

{% block title %}
Просмотр платформы
{% endblock %}

{% block content %}
    <h1>Просмотр платформы</h1>
        <div class="post-entry">
            <h2><a href="">{{ stewart_platform.title }}</a></h2>
                <p>Система: {{ stewart_platform.system_stewart_platform }}</p>
                <p>Описание базового модуля: {{ stewart_platform.discription }}</p>
                <p>IP адрес: {{ stewart_platform.ip_adress }}</p>
                <p>Порт подключения: {{ stewart_platform.port }}</p>
                <p>Позиция базового модуля в матрице по оси х: {{ stewart_platform.position_x_in_matrix }}</p>
                <p>Позиция базового модуля в матрице по оси у: {{ stewart_platform.position_y_in_matrix }}</p>
                <p>Пользователь: {{ stewart_platform.author }}</p>
                <p>Добавлено: {{ stewart_platform.time_create }}</p>
                <p>Изменено: {{ stewart_platform.time_update }}</p>
         </div>

  <a href='{% url 'platformEditView' stewart_platform.pk %}'>Редактирование платформы</a>
  <p><a href='{% url 'platformDeleteView' stewart_platform.pk %}'>Удаление платформы</a></p>
{% endblock %}