{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <h1>Системы stewart platform </h1>
    <p1>Данная система состоит из stewart-платформ и может использоваться как испытательный стенд.
        Управляется система на базе сетевого микроконтроллера. Разработанный WEB-конструктор с
        распределенной системой SAAS позволяет в режиме онлайн изменять систему
        (менять количество, расположение и характеристики), для моделирования сложных поверхностей под
        конкретную задачу. Конструктор отвечает за хранение, загрузку и выгрузку законов движения,
        данных о геометрии платформы, а объект-представление позволяет пользователю видеть платформу
        на экране под разными углами, запускать и останавливать анимацию, смотреть текущие координаты,
        редактировать данные, хранящиеся в документе, соответственно логике работы программы.
        Зарегистрируйтесь для того чтобы начать пользоваться конструктором.
    </p1>
{% endblock %}



