{% extends 'main/base.html' %}

{% block title %}
Stewart Platform
{% endblock %}

{% block content %}
    <h1>Описание системы роботов на основе Stewart Platform </h1>
    <p1> Данная система состоит из stewart-платформ и может использоваться как испытательный стенд, например для диагностирования подвески автомобилей. Механическая часть stewart-платформ может быть реализована на основе пневмо или сервоприводов. Также возможно использование гидро или электропривода. Пневма - менее упругая, чем гидро и электропривод, но значительно дешевле (порядка в 2.5 раза). Для пневмы требуется наличие компрессора.
Управляется система на базе сетевого микроконтроллера. Разработанный WEB-конструктор с распределенной системой SAAS позволяет в режиме онлайн изменять систему (менять количество, расположение и характеристики), для моделирования сложных поверхностей под конкретную задачу.
</p1>
{% endblock %}


