{% extends 'main/base.html' %}

{% block title %}
Просмотр "Волна"
{% endblock %}

{% block content %}
    <h1>Просмотр промежутка времени в законе "Волна"</h1>
        <div class="post-entry">
            <h2><a href="">Момент времени в секундах: {{ law_for_platform_wave.time }}</a></h2>
                <p>Базовый модуль: {{ law_for_platform_wave.stewart_platform }}</p>
                <p>Смещение по x: {{ law_for_platform_wave.x_coordinate }}</p>
                <p>Смещение по y: {{ law_for_platform_wave.y_coordinate }}</p>
                <p>Смещение по z: {{ law_for_platform_wave.z_coordinate }}</p>
                <p>Крен(х): {{ law_for_platform_wave.γ_roll_x }}</p>
                <p>Тангаж(y): {{ law_for_platform_wave.θ_pitch_y }}</p>
                <p>Рыскание(z): {{ law_for_platform_wave.ψ_yaw_z }}</p>
         </div>

  <a href='{% url 'LawWaveEditView' law_for_platform_wave.pk %}'>Редактирование промежутка времени</a>
  <p><a href='{% url 'LawWaveDeleteView' law_for_platform_wave.pk %}'>Удаление промежутка времени</a></p>
{% endblock %}