{% extends 'main/base.html' %}

{% block title %}
Просмотр закона "Волна"
{% endblock %}

{% block content %}
    <h1>Просмотр закона движения "Волна"</h1>
   {% if object_list %}
        {% for law_for_platform_wave in object_list %}
        <div class="post-entry">
          <h2><a href="{% url 'LawWaveDetailView' law_for_platform_wave.pk %}">Момент времени в секундах: {{ law_for_platform_wave.time }}</a></h2>
                <p>Базовый модуль: {{ law_for_platform_wave.stewart_platform }}</p>
                <p>Смещение по x: {{ law_for_platform_wave.x_coordinate }}</p>
                <p>Смещение по y: {{ law_for_platform_wave.y_coordinate }}</p>
                <p>Смещение по z: {{ law_for_platform_wave.z_coordinate }}</p>
                <p>Крен(х): {{ law_for_platform_wave.γ_roll_x }}</p>
                <p>Тангаж(y): {{ law_for_platform_wave.θ_pitch_y }}</p>
                <p>Рыскание(z): {{ law_for_platform_wave.ψ_yaw_z }}</p>
                <p>Пользователь: {{ law_for_platform_wave.author }}</p>
                <p>Добавлено: {{ law_for_platform_wave.time_create }}</p>
                <p>Изменено: {{ law_for_platform_wave.time_update }}</p>
        </div>
        {% endfor %}
    {% else %}
            <p>У нас нет записей</p>
    {% endif %}
{% endblock %}